.btn-margin{
    margin:10px 0px
}
.checkbox-pos{
    margin:0% 0% 2% 30%
}
.margin-left{
    margin:0px 8px 0px 0px
}
.assess-btn{
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}
.assess-div{
    margin-bottom: 20px;
}
mat-card{
    width:100%
}


.assess-op-drop{
    text-align: center;
vertical-align: middle;
line-height: 45px; 
border-radius: 4px;
}