<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="../../../../assets/telecomShieldApp/trump-and-kim-jung-un.jpg" height="40px" width="150px">
    </mat-toolbar>

    <mat-nav-list *ngFor="let side of (DetailMegaProcess |async).mega_process;let i = index">
      <a mat-list-item class="telecom" routerLinkActive="sideNavtelecomActive"
        [ngClass]="selectedIndex === i ? 'btn-telecom-fill' : ''"
        (click)="selectedIndex = i;sideNavOptionClicked(side.id)">{{side.name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="header-bar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Telecom Shield</span>

      <div fxFlex fxLayout fxLayoutAlign="flex-end" style="margin:0rem 1rem 0rem 0rem">

        <div fxLayout fxLayoutGap="10px">

          <div>
            {{userName}}
          </div>
          <div>

            <button mat-icon-button [matMenuTriggerFor]="auth">
              <a>
                <img src="../../../../assets/telecomShieldApp/boy.jpg" height="45px" width="45px"></a>
              <!-- <mat-icon>person_outline</mat-icon> -->
            </button>
            <mat-menu #auth="matMenu">

              <mat-slide-toggle name="theme" (change)="changeTheme()" class="example-margin" [color]="color"
                [checked]="checked" [disabled]="disabled">
                Slide me!
              </mat-slide-toggle>

              <button mat-menu-item (click)="greetMessage()">
                <mat-icon>exit_to_app</mat-icon>
                <span (click)="greetMessage()">Sign out</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>

    </mat-toolbar>





    <div class="app-body">
      <main class="main">
        <div class="container-fluid">

       <router-outlet></router-outlet>


        </div>
      </main>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>