
.ch{
    height: 100%;
}

    
//   #Device : Desktops,
//   #Screen = 1281px to higher resolution desktops


@media (min-width: 1281px) {
  
    canvas{
        height: 100% !important;
    }
    
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    canvas{
       height: 140px !important;
    }
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    canvas{
        height: 140px !important;
     }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    canvas{
        height: 100% !important;
     }
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    canvas{
        height: 100% !important;
        padding-bottom:20px
     }
    .ch{
        height: 95%;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    canvas{
        height: 100% !important;
        padding-bottom:20px
     }
    .ch{
        height: 95%;
    }
    
    
  }